# Archivos de compilación de Rust
/target/
**/*.rs.bk

# Variables de entorno
.env

# Archivos de la base de datos SQLite local
*.db
*.db-journal
*.db-shm
*.db-wal

Cargo.lock

# Configuraciones locales de IDE
.vscode/local_settings.json